<!-- Main -->
<main class="main-container">

    <div class="title-div">
        <h1 class="main-title" i18n="@@teacherDashboardTitle">Your Dashboard </h1>
        <div class="button-widget">
                <button mat-raised-button color="primary" [routerLink]="learningPathsLink" class="paths-link" i18n="@@teacherDashBoardExplorePaths">
                    Explore Paths
                </button>
        </div>
    </div>

    <div class="main-info">

        @if (selectedView === 'classes'){
            <app-class-overview-widget class="dynamic-section overview" [loadingData]="loadingData" [loadingClasses]="loadingClasses" [classes]="classes"></app-class-overview-widget>
        }

        @if (selectedView === 'deadlines'){
            <app-deadlines-widget [assignments]="assignments" class="dynamic-section overview"></app-deadlines-widget>
        }

        @if (selectedView === 'questions'){
            <app-chat-view class="question-overview" [compact]="true"></app-chat-view>
        }

        <div class="main-cards">
            <app-menu-card [title]="classesTitle" [count]="classes.length" icon="school"
                [selected]="selectedView === 'classes'" color="green" (cardClick)="setView('classes')">
            </app-menu-card>

            <app-menu-card [title]="deadlinesTitle" [count]="assignments.length" icon="timer"
                [selected]="selectedView === 'deadlines'" color="red" (cardClick)="setView('deadlines')">
            </app-menu-card>

            <app-menu-card [title]="questionsTitle" [count]="0" icon="contact_support"
                [selected]="selectedView === 'questions'" color="yellow" (cardClick)="setView('questions')">
            </app-menu-card>
        </div>
    </div>

    <div class="charts">
        @if (loadingData) {
            <app-card-skeleton-loader title=""></app-card-skeleton-loader>
        } @else {
            <app-class-chart [classChartData]="classChartData" [displayContent]="displayClassChart"></app-class-chart>
        }
        
        @if (loadingData) {
            <app-card-skeleton-loader title="Timeline"></app-card-skeleton-loader>
        } @else {
            <app-activity-chart [activityChartData]="activityChartData" [displayContent]="displayActivityChart"></app-activity-chart>
        }
        
    </div>
</main>
