<!-- Main -->
<main class="main-container">

    <h1 class="main-title" i18n="@@teacherDashboardTitle">Your Dashboard</h1>

    <div class="main-info">

        @if (selectedView === 'classes'){
            <app-class-overview-widget class="dynamic-section overview" [loadingData]="loadingData" [loadingClasses]="loadingClasses" [classes]="classes"></app-class-overview-widget>
        }

        @if (selectedView === 'deadlines'){
            <app-deadlines-widget [assignments]="assignments" class="dynamic-section overview"></app-deadlines-widget>
        }

        @if (selectedView === 'questions'){
            <div class="dynamic-section overview">
                <h3 i18n="@@teacherDashboardStudentQuestions">Student Questions</h3>
                <h1>PLACEHOLDER</h1>
            </div>
        }

        <div class="main-cards">
            <app-menu-card [title]="classesTitle" [count]="classes.length" icon="school"
                [selected]="selectedView === 'classes'" color="green" (cardClick)="setView('classes')">
            </app-menu-card>

            <app-menu-card [title]="deadlinesTitle" [count]="assignments.length" icon="timer"
                [selected]="selectedView === 'deadlines'" color="red" (cardClick)="setView('deadlines')">
            </app-menu-card>

            <app-menu-card [title]="questionsTitle" [count]="0" icon="contact_support"
                [selected]="selectedView === 'questions'" color="yellow" (cardClick)="setView('questions')">
            </app-menu-card>

            <div class="button-widget">
                <button mat-raised-button color="primary" [routerLink]="learningPathsLink" class="paths-link" i18n="@@teacherDashBoardExplorePaths">
                    Explore Paths
                </button>
                <button mat-raised-button color="primary" [routerLink]="createClassLink" class="paths-link" i18n="@@teacherDashBoardCreateClass">
                    Create a class
                </button>
            </div>
        </div>
    </div>

    <div class="charts">
        @if (loadingData) {
            <app-card-skeleton-loader title=""></app-card-skeleton-loader>
        } @else {
            <app-class-chart [classChartData]="classChartData" [displayContent]="displayClassChart"></app-class-chart>
        }
        
        @if (loadingData) {
            <app-card-skeleton-loader title="Timeline"></app-card-skeleton-loader>
        } @else {
            <app-activity-chart [activityChartData]="activityChartData" [displayContent]="displayActivityChart"></app-activity-chart>
        }
        
    </div>
</main>
