<div class="card-container">
    <mat-card class="multiple-choice-card">
        @if(type !== 'empty'){
        <h2 class="title" i18n>Review Submissions for Step</h2>
        <h3 class="title" i18n>{{task!.question}}</h3>

        <mat-card-content>
            @if(ready){
            @for (submission of fullSubmission; track submission; let idx = $index){
            <div class="submission-list">
                <mat-divider></mat-divider>

                <div class="submission-entry">
                    <div class="student-name">
                        <strong>{{ submission.name }}</strong>
                    </div>

                    <div class="submission-answer">
                        @if(task?.type === 'NORMALQUESTION') {
                        <p><strong i18n>Answer:</strong> {{ submission.contents }}</p>
                        @if(answer !== ""){
                        <mat-icon color="primary">check_circle</mat-icon>
                        <span><strong i18n>Correct Answer:</strong> {{ answer }}</span>
                        }
                        }
                        @if(task?.type === 'MULTIPLECHOICE'){
                        <p><strong i18n>Chosen Option:</strong> {{ submission.contents }}</p>
                        @if(correctAnswers !== ""){
                        <div class="inline">
                            <mat-icon color="primary">check_circle</mat-icon>

                            <span><strong i18n>Correct Answer: </strong>{{correctAnswers}}</span>
                        </div>
                        }
                        }

                    </div>

                    <div class="submission-actions">
                        @if(submission.status === 'not_accepted'){
                        <button mat-icon-button color="primary" (click)="approveSubmission(submission, idx)"
                            i18n-matTooltip matTooltip="Approve">
                            <mat-icon>check</mat-icon>
                        </button>
                        }
                        @if(submission.status === 'accepted'){
                        <p i18n>Accepted!</p>
                        }

                        <!-- There is no way to reject a submission yet.... -->
                        <!-- <button mat-icon-button color="warn" (click)="rejectSubmission(submission, idx)" i18n-matTooltip
                            matTooltip="Reject">
                            <mat-icon>close</mat-icon>
                        </button> -->
                    </div>
                </div>
            </div>
            } @empty {
            <p i18n>No submissions for this task yet</p>
            }
            }


        </mat-card-content>
        } @else {
        <h2 i18n>There's no task here!</h2>
        }
    </mat-card>
</div>