<div class="classes">
    <div id="tool-container">
        <!-- <label for="nameFilterInput">Filter your classes by name</label> -->
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
                matInput
                #nameFilter
                placeholder="..."
                (keyup)="classNameFilter(nameFilter.value)"
                class="lg-text-input"
                id="nameFilterInput" />
        </mat-form-field>

        <!-- <span style="flex: 1 1 auto;"></span> -->

        <button mat-fab extended (click)="createClass()">
            <mat-icon>add</mat-icon>
            Create
        </button>
    </div>
    
    @if (showCreate) {
        <div id="center-container">
            <app-create-class></app-create-class>
        </div>
    }

    <div id="center-container">
        <mat-list>
            @for (class of classes; track class.classId) {
                <li>
                    <app-mini-class [_class]="class"></app-mini-class>
                </li>
            } @empty {
                <p>No classes found</p>
            }
        </mat-list>
    </div>
</div>
