#center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // flex-direction: column;
}

#tool-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

mat-list {
    max-width: 100%;
}

mat-list li {
    margin-bottom: 16px;
    width: 500px;
}

mat-list li:last-child {
    margin-bottom: 0;
}
