.classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.tool-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.tool-container button {
    margin: 1rem 0;
}

.class-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* twee kolommen */
  gap: 1rem; /* ruimte tussen items */
  padding: 20px 40px 20px 40px;
  list-style: none;
}

.class-grid li {
  list-style: none;
}
