<div class="classes">

    <mat-toolbar>
        <label for="nameFilterInput">Filter your classes by name</label>
        <input
            #nameFilter
            placeholder="..."
            (keyup)="classNameFilter(nameFilter.value)"
            class="lg-text-input"
            id="nameFilterInput" />

        <span style="flex: 1 1 auto;"></span>

        <button mat-fab extended (click)="createClass()">
            <mat-icon>add</mat-icon>
            Create
        </button>
    </mat-toolbar>

    

    <mat-list>
        @for (class of classes; track class.classId) {
            <li>
                <app-mini-class [_class]="class"></app-mini-class>
            </li>
        } @empty {
            <p>No classes found</p>
        }
    </mat-list>
</div>
