.progress-card {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  mat-card-content {
    width: 100%;
  }
  mat-card-content:first-child {
    padding-top: 2px; // Overwrite first childs padding
  }
  
  mat-card-title {
    font-size: medium;
  }
}

.progress-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 68vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  // position: sticky;
  position: relative;
  bottom: 20px;
  margin-bottom: 10px;
  z-index: 1000;
}

.custom-progress {
  overflow: hidden;
  width: 100%;
  margin: auto;  
  border-radius: 10px;
  
}