.progress-card {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  mat-card-content {
    width: 100%;
  }
  mat-card-content:first-child {
    padding-top: 2px; // Overwrite first childs padding
  }
  
  mat-card-title {
    font-size: medium;
  }
}

.progress-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 68vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  // position: sticky;
  position: relative;
  bottom: 20px;
  margin-bottom: 10px;
  z-index: 1000;
}

.custom-progress {
  overflow: hidden;
  width: 100%;
  margin: auto;  
  border-radius: 10px;
  
}

.chat-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}

.chat-dialog-container {
  .mat-mdc-dialog-container {
    height: 100% !important; // important to force it
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;

    .mdc-dialog__surface {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.chat-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  
  app-chat {
    flex: 1;
    overflow-y: auto;
  }
}

.chat-custom-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 64px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .spacer {
      flex: 1;
  }
  
  .mat-icon-button {
    background: transparent !important;
    border: none !important;
    
    &:hover {
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }
}