.progress-card {
  border-radius: 20px;
  align-items: center;
  mat-card-content {
    width: 95%;
  }
}

.progress-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 68vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  position: sticky;
  bottom: 10px;
  margin-bottom: 10px;
}

.custom-progress {
  overflow: hidden;
  width: 100%;
  margin: auto;  
  border-radius: 10px;
}
