<app-authenticated-header></app-authenticated-header>
@if (loading) {
<app-loading></app-loading>
} @else {
@if (!isStudent){
<app-create-task (taskCreated)="onTaskCreated($event)"></app-create-task>
}
<app-learning-path [hruid]="learningPathId" [language]="language" [assignment]="true" [progress]="progress"
  (selectedNodeChanged)="onSelectedNodeChanged($event)">
</app-learning-path>
@if (taskFetched){
<app-create-submission [assignmentId]="assignmentId" [taskObject]="taskObject" [type]="taskType"
  [learningObjectId]="currentLearningObjectId" (submissionCreated)="onSubmissionCreated()"></app-create-submission>
}
<div class="progress-container">
  <mat-card class="progress-card">
    <mat-card-content>
      <mat-progress-bar class="custom-progress" mode="determinate" value="{{getProgressPercentage()}}"
        color="primary"></mat-progress-bar>
    </mat-card-content>
    <mat-card-title>{{step}}/{{maxStep}}</mat-card-title>

  </mat-card>

</div>

<button mat-fab class="chat-fab" color="primary" (click)="openChat()">
  <mat-icon>chat</mat-icon>
</button>

<ng-template #chatDialog>
  <div class="chat-dialog">
    <div class="chat-header">
      <mat-toolbar color="primary" class="chat-custom-toolbar">
        <span>Chat</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="navigateToFullChat()" matTooltip="Open full chat">
          <mat-icon style="color: black;">open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)="closeChat()">
          <mat-icon style="color: black;">close</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <app-chat [questionThreadId]="currentThreadId" [showHeader]="false" [assignmentId]="assignmentId" [learningObjectId]="currentLearningObjectId" ></app-chat>
  </div>
</ng-template>

}