<mat-card class="overview-widget">
    <div class="header-row">
        <mat-card-title>{{ title }}</mat-card-title>
    </div>

    <div class="widget-container">
        @for(data of learningPaths; track data){
            <app-learning-path-info-card
                [path]="data" 
                [isTeacher]="isTeacher"
            >
            </app-learning-path-info-card>
        } @empty {
            <p i18n="@@noLearningPaths">There are no learning paths available for this category</p>
        }
    </div>
</mat-card>
