<mat-card class="overview-widget">
    <div class="header-row">
        <mat-card-title i18n>{{title}}</mat-card-title>
    </div>

    <div class="widget-container">
        @for(data of learningPaths; track data){
        <app-learning-path-info-card [title]="data.title" [description]="data.description" [steps]="data.steps"
            [minAge]="data.minAge" [maxAge]="data.maxAge" [learningPathId]="data.learningPathId"
            [isTeacher]="isTeacher">
        </app-learning-path-info-card>
        } @empty {
        <p i18n="@@noLearningPaths">There are no learning paths available for this category</p>
        }
    </div>
</mat-card>