<button mat-raised-button color="primary" i18n="@@authenticatedMenu" [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    @if (isStudent) {
        <button mat-menu-item routerLink="/student/dashboard" i18n="@@authenticatedDashboardStudent">Dashboard</button>
        <button mat-menu-item routerLink="/student/classes" i18n="@@authenticatedClassesStudent">Classes</button>
        <button mat-menu-item routerLink="/student/assignments" i18n="@@authenticatedAssignmentsStudent">Assignments</button>
        <button mat-menu-item routerLink="/student/chat/0" i18n="@@authenticatedChatsStudent">Chats</button>
    } @else {
        <button mat-menu-item routerLink="/teacher/dashboard" i18n="@@authenticatedDashboardTeacher">Dashboard</button>
        <button mat-menu-item routerLink="/teacher/classes" i18n="@@authenticatedClassesTeacher">Classes</button>
        <button mat-menu-item routerLink="/teacher/assignments" i18n="@@authenticatedAssignmentsTeacher">Assignments</button>
        <button mat-menu-item routerLink="/teacher/chat/0" i18n="@@authenticatedChatsTeacher">Chats</button>
    }
    
    <button mat-menu-item routerLink="/explore" i18n="@@authenticatedExplore">Explore</button>
</mat-menu>
