@use '@angular/material' as mat;
@use '../../../../_theme-colors.scss' as colors;

.menu-card {
  margin: 1em;
  padding: 2em;
  display: flex;
  flex-direction: row;

  &:hover {
    background: #e3f2fd;
    cursor: pointer;
  }
}
