<mat-card class="charts-card">
    <mat-card-header class="chart-header">
        <mat-card-title i18n>Progress</mat-card-title>
        <span i18n-matTooltip matTooltip="This chart shows the average score of each student in each class.">
            <mat-icon class="info-icon">info</mat-icon>
        </span>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="barChartOptions.series?.length; else loading">
            <apx-chart class="chart" [series]="barChartOptions.series!" [chart]="barChartOptions.chart!"
                [dataLabels]="barChartOptions.dataLabels!" [xaxis]="barChartOptions.xaxis!"
                [legend]="barChartOptions.legend!" [fill]="barChartOptions.fill!" [tooltip]="barChartOptions.tooltip!">
            </apx-chart>
        </ng-container>

        <ng-template #loading>
            <div class="loading-container">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>