<!-- learning-path-viewer.component.html -->
<!-- <mat-form-field appearance="fill" class="full-width">
  <mat-label i18n>Select Learning Object</mat-label>
  <mat-select [(value)]="selectedNode" (selectionChange)="onNodeSelected()">
    <mat-option *ngFor="let node of graphNodes" [value]="node">
      {{ node.value.metadata.title }} ({{ node.value.metadata.language }})
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="selectedNode" class="iframe-wrapper">
  <iframe class="learning-object-frame" [srcdoc]="selectedNode.value.htmlContent" frameborder="0" width="100%"
    height="600px"></iframe>
</div> -->