<!-- learning-path-viewer.component.html -->
<div class="card-container">
  <mat-card class="learning-path-card">
    @if (path) {
    <mat-card-header>
      <mat-card-title i18n="@@learningPathComponentTitle">Learning Path: {{path.title}}</mat-card-title>
    </mat-card-header>
    }

    <mat-card-content>
      @if(!loading) {
      <mat-form-field appearance="fill" class="full-width">
        <mat-label i18n="@@selectLearningObject">Select Learning Object</mat-label>
        <mat-select [(value)]="selectedNode" (selectionChange)="onNodeSelected()">
          @for(node of trajectoryGraph!.nodes; track node; let idx = $index) {
          <mat-option [value]="node" [disabled]="!isTeacher && idx > step && assignment">
            {{ node.value.metadata.title }} ({{ node.value.metadata.language }})
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (selectedNode) {
      <div class="iframe-wrapper">
        <iframe class="learning-object-frame" [srcdoc]="getCleanHTML()" frameborder="0" width="100%"
          height="600px"></iframe>
      </div>
      }
      } @else {
      <div class="loading-container">
        <app-loading></app-loading>
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>