@if (loading) {
<app-loading></app-loading>
} @else {
@if (!isStudent && task === null && initializeTasks){
<app-create-task (taskCreated)="onTaskCreated($event)"></app-create-task>
}
<app-learning-path [hruid]="learningPathId" [language]="language" [assignment]="true" [progress]="progress"
  [step]="furthestStep" (selectedNodeChanged)="onSelectedNodeChanged($event)" (emitGraph)="retrieveGraph($event)">
</app-learning-path>
@if (taskFetched && isStudent){
<app-create-submission [assignmentId]="assignmentId" [taskObject]="taskObject" [type]="taskType" [taskId]="taskId!"
  [learningObjectId]="currentLearningObjectId" (submissionCreated)="onSubmissionCreated()"></app-create-submission>
}
@if(noTask && isStudent) {
<app-create-submission [assignmentId]="assignmentId" [taskObject]="taskObject"
  [learningObjectId]="currentLearningObjectId" (submissionCreated)="onSubmissionCreated()"></app-create-submission>
}
<div class="progress-container">
  <mat-card class="progress-card">
    <mat-card-content>
      <mat-progress-bar class="custom-progress" mode="determinate" value="{{getProgressPercentage()}}"
        color="primary"></mat-progress-bar>
    </mat-card-content>
    <mat-card-title>{{step}}/{{maxStep}}</mat-card-title>

  </mat-card>

</div>

}