<div class="wrap">
  @if (loading) {
  <app-loading></app-loading>
  } @else {
  @if (!isStudent && task === null && initializeTasks){
  <app-create-task (taskCreated)="onTaskCreated($event)"></app-create-task>
  }
  <app-learning-path class="path" [hruid]="learningPathId" [language]="language" [assignment]="true"
    [progress]="progress" [step]="furthestStep" (selectedNodeChanged)="onSelectedNodeChanged($event)"
    (emitGraph)="retrieveGraph($event)">
  </app-learning-path>
  @if(!alreadySubmitted && isStudent){
  @if (taskFetched ){
  <app-create-submission [assignmentId]="assignmentId" [taskObject]="taskObject" [type]="taskType" [taskId]="taskId!"
    [learningObjectId]="currentLearningObjectId" (submissionCreated)="onSubmissionCreated()"></app-create-submission>
  }
  @if (noTask ){
  <app-create-submission [assignmentId]="assignmentId" [taskObject]="taskObject"
    [learningObjectId]="currentLearningObjectId" (submissionCreated)="onSubmissionCreated()"></app-create-submission>
  }
  }@else if(isStudent) {
  @if(submissionType === 'accepted') {
  <h2 i18n>Your submission is marked Correct!</h2>
  }
  @else if(submissionType === 'rejected'){
  <h2 i18n>Your submission has been marked as Incorrect!</h2>
  }
  @else {
  <h2 i18n>Already submitted!</h2>
  }
  } @else if(!isStudent && !initializeTasks && submissionStatsReady) {
  <app-assignment-stats class="stats" [submissions]="submissionsForStep" [task]="task!"
    (patched)="reloadStats()"></app-assignment-stats>
  }

  <div class="progress-container">
    <mat-card class="progress-card">
      <mat-card-content>
        <mat-progress-bar class="custom-progress" mode="determinate" value="{{getProgressPercentage()}}"
          color="primary"></mat-progress-bar>
      </mat-card-content>
      <mat-card-title>{{step}}/{{maxStep}}</mat-card-title>

    </mat-card>

  </div>

  }
</div>