<header>
    <span class="logo">
        <img routerLink="/" src="assets/images/logo.svg" alt="Dwengo logo">
    </span>

    <span class="links">
        <button mat-raised-button color="primary" i18n="@@unauthenticatedHome" class="home-button" routerLink="/">Home</button>
        @if (!isOnRegisterRoute()) {
            <button mat-raised-button color="primary" i18n="@@unauthenticatedRegister" class="register-button" routerLink="/register">
                Register
            </button>
        }
    </span>
    <language-selector></language-selector>
</header>
