.main {
    margin: 20px
}

.filters {
    margin: 20px
}

.explore-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 25px;
}

.result-list {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.intro-card,
.filter-card {
    flex: 1 1;
    min-width: 300px;
    justify-content: space-between;
}

.results-section {
    margin-top: 32px;
}