<div class="main">
    <h1 class="main-title" i18n="@@explore">Explore</h1>

    <div class="explore-container">
        <mat-card class="intro-card">
            <mat-card-header>
                <mat-card-title i18n="@@exploreLearningPaths">Explore Learning Paths</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p i18n="@@exploreLearningPathsDescription">
                    Welcome! Here you can explore all available learning paths. You can either view all available
                    options or search for specific paths using the filters.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="setBasic()" i18n="@@exploreButton">Explore our
                    Learning Paths</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="filter-card">
            <app-learning-path-filter (filtersApplied)="setCustom($event)"></app-learning-path-filter>
        </mat-card>
    </div>
    @if (visualize === "BASIC"){
    <div class="result-list">
        @if (loading) {
        @for (pair of categoryConfigs; track pair) {
        <app-card-skeleton-loader [title]="pair.title"></app-card-skeleton-loader>
        }
        } @else {
        @for (pair of categoryConfigs; track pair; let idx = $index) {
        <app-learning-path-list [learningPaths]="getLearningPathsByCategory(pair.key)" [isTeacher]="isTeacher"
            [title]="pair.title" (showPopup)="showPopup($event)"></app-learning-path-list>
        }
        }
    </div>

    }

    @if (visualize === "CUSTOM") {
    @if (loading) {
    <app-card-skeleton-loader title="Your results"></app-card-skeleton-loader>
    } @else {
    <app-learning-path-list [learningPaths]="data" [isTeacher]="isTeacher" i18n-title title="Your Results"
        (showPopup)="showPopup($event)"></app-learning-path-list>
    }
    }
    @if (detail && detailPath) {
    <div class="popup">
        <button class="back" color="primary" mat-mini-fab i18n (click)="hidePopup()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <app-learning-path [hruid]="detailPath.hruid" [language]="detailPath.language" [popup]="true"></app-learning-path>
    </div>
    }
</div>