<mat-card class="page-not-found">
    <span class="unknown-route__logo">
        <img i18n-alt="@@UnknownRouteDwengoLogo" src="assets/dwengo-groen-zwart.svg" alt="Dwengo logo" />
    </span>

    <h1 mat-typography i18n="@@pageNotFound">404: Page Not Found</h1>

    <span class="unknown-route__buttons">
        <button mat-raised-button color="primary" name="home-button" i18n="@@unknownRouteGoBack" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        Go back to login
        </button>
    </span>
</mat-card>
  