<app-authenticated-header></app-authenticated-header>
<div class="group">
    @if(group) {
        <span>
            <h2 i18n>Group for assignment: "{{ group.assignment.name }}"</h2>

            <div class="members-list">
                @for(member of group.members; track member.id) {
                    <app-mini-user [user]="member"></app-mini-user>
                } @empty {
                    <p i18n>There are no users in this group</p>
                }
            </div>
        </span>
    }
</div>
