.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    app-authenticated-header {
        flex-shrink: 0;
    }
  
    .content {
      display: flex;
      flex: 1;
      overflow: hidden; // Important to keep sidebar/chat scrolls clean
      height:100%;
    }
  
    .sidebar {
      width: 300px;
      border-right: 1px solid #ccc;
      overflow-y: auto;
      flex-shrink: 0;
    }
  
    .chatbox {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
}