<!-- Main -->
<main class="main-container">
    <div class="main-title centered-title">
        <h1 i18n>Home</h1>
    </div>
</main>

<div class="assignments">
    <div class="center-container">
        <h2 i18n>Your assignments</h2>
    </div>

    <app-paginated-grid
        [items]="assignments"
        [itemTemplate]="assignmentCard">
    </app-paginated-grid>

    <ng-template #assignmentCard let-assignment>
        <app-mini-assignment [_assignment]="assignment"></app-mini-assignment>
    </ng-template>
</div>

<div class="classes">
    <div class="center-container">
        <h2 i18n>Your classes</h2>
    </div>
  
    <app-paginated-grid
        [items]="classes"
        [pageSize]="6"
        [itemTemplate]="classCard">
    </app-paginated-grid>
  
    <ng-template #classCard let-class>
        <app-mini-class [_class]="class"></app-mini-class>
    </ng-template>
</div>
