<app-authenticated-header></app-authenticated-header>
<div class="assignments">

    @if (isTeacher) {
    <div class="tool-container">
        <button mat-fab extended routerLink="/explore">
            <mat-icon>add</mat-icon>
            <p i18n>Create</p>
        </button>
    </div>
    }

    <div class="center-container">
        <h2 i18n>Your assignments</h2>            
            <mat-list class="grid" id="assignments-list">
                @for (assignment of filteredAssignments; track assignment.id) {
                    <li>
                        <h3>{{ assignment.name }}</h3>
                        <p>
                            <strong i18n>Due date:</strong>
                            {{ assignment.deadline }}
                    </li>
                } @empty {
                    <p i18n>No assignments found</p>
                }
            </mat-list>
    </div>

</div>