.assignments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* twee kolommen */
  gap: 1rem; /* ruimte tussen items */
  padding: 20px 40px 20px 40px;
  list-style: none;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    width: 80%;
}

app-create-assignment {
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
