.main {
    margin: 10px;
}


.filter-field {
    display: block;
    margin: 8px;
    max-width: 600px;
    min-width: 288px;
}

.apply-button {
    margin-top: 12px;
}

.age-section {
    display: flex;
    flex-direction: row;
}