<header>
    <span class="logo">
        <img (click)="goToDashboard()" src="assets/images/logo.svg" alt="Dwengo logo">
    </span>

    <span class="links">
        @if(isStudent) {
            <button mat-raised-button color="primary" i18n class="student-home-button" routerLink="/student/dashboard">Home</button>
        } @else {
            <button mat-raised-button color="primary" i18n class="teacher-home-button" routerLink="/teacher/dashboard">Home</button>
        }
        
        <app-authenticated-menu [isStudent]="isStudent"></app-authenticated-menu>
        <button mat-raised-button color="primary" i18n class="logout-button" (click)="logout()">Logout</button>
    </span>
</header>
