<div class="landing-page">
    <span class="landing-page__logo">
        <img src="assets/dwengo-groen-zwart.svg" alt="Dwengo logo" />
    </span>

    <span class="landing-page__buttons">
        <span class="landing-page__buttons__login">
            <button name="teacher-login-button" i18n routerLink="teacher/login" routerLinkActive="active" ariaCurrentWhenActive="page">Teacher Login</button>
            <button name="student-login-button" i18n routerLink="student/login" routerLinkActive="active" ariaCurrentWhenActive="page">Student Login</button>
        </span>
        
        <p i18n>No account yet?</p>
        <button name="register-button" i18n routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</button>
    </span>
</div>
