<div class="create-group">
    <!-- Members Section -->
    <h2>Members</h2>
    <div
        id="members-list"
        class="members-list"
        cdkDropList
        [cdkDropListData]="members"
        [cdkDropListConnectedTo]="connectedDropLists"
        (cdkDropListDropped)="drop($event)">
        @for (user of members; track user.id) {
        <app-mini-user [user]="user" cdkDrag></app-mini-user>
        }
    </div>

    <!-- Groups Section -->
    <h2>Groups</h2>
    <button (click)="newGroupList()">Add group</button>
    <div class="groups-container">
        @for (group of groups; let i = $index; track i) {
            <div>
                <!-- Group List -->
                <span style="display: flex; justify-content: space-between;">
                    <h3>Group {{i+1}}</h3>
                    <button mat-mini-fab color="warn" (click)="deleteGroupList(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
                <div
                cdkDropList
                class="group-list"
                [id]="'group-list-' + i"
                [cdkDropListData]="group"
                [cdkDropListConnectedTo]="connectedDropLists"
                (cdkDropListDropped)="drop($event)">
                @for (user of group; track user.id) {
                    <app-mini-user [user]="user" cdkDrag></app-mini-user>
                }
                </div>
            </div>
        }
        <div>
            <h3>New group</h3>
            <div 
                class="group-list" 
                (click)="newGroupList()"
                
                cdkDropList
                id="new-group"
                [cdkDropListData]="emptyGroup"
                [cdkDropListConnectedTo]="connectedDropLists"
                (cdkDropListDropped)="drop($event)">
                <mat-icon>create</mat-icon>
            </div>
        </div>
    </div>
</div>
