<div class="charts-card">
    <div class="chart-header">
        <p class="chart-title" i18n>
            Timeline
        </p>
        <mat-icon class="info-icon">info</mat-icon>
        <p class="info-text">This chart shows you the amount of submissions each class made in the past 12 months.
        </p>
    </div>
    <apx-chart class="chart" [series]="lineChartOptions.series!" [chart]="lineChartOptions.chart!"
        [xaxis]="lineChartOptions.xaxis!" [dataLabels]="lineChartOptions.dataLabels!" [grid]="lineChartOptions.grid!"
        [stroke]="lineChartOptions.stroke!" [tooltip]="lineChartOptions.tooltip!"></apx-chart>
</div>